body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
}

.container {
    width: 350px;
    padding: 40px;
    height: auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alvo-image {
    width: 100px; /* Ajuste conforme necessário */
    height: auto; /* Ajuste conforme necessário */
    margin-bottom: 10px;
}

.header {
    margin-bottom: 15px;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

h2 {
    margin: 0;
    font-style: italic;
    font-size: 18px; /* Reduzido */
}

.login-form h3 {
    margin-bottom: 10px;
    font-size: 16px; /* Reduzido */
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 12px; /* Reduzido */
}

.form-group input {
    width: 350px; /* Full width for all inputs */
    padding: 6px; /* Reduzido */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px; /* Reduzido */
}

button {
    width: 50%;
    padding: 6px; /* Reduzido */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 12px; /* Reduzido */
}

button:hover {
    background-color: #0056b3;
}

p {
    margin-top: 10px;
    font-size: 12px; /* Reduzido */
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
