body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

.container {
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white; /* Altera a cor do título para branco */
}

.data-group-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas por linha */
    gap: 20px; /* Espaçamento entre os containers */
    margin-bottom: 20px;
}

.data-group {
    border: 1px solid #ddd;
    padding: 15px; /* Reduz o preenchimento interno */
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma leve sombra */
    text-align: left; /* Alinha o texto à esquerda */
}

.data-group ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Remove a margem interna */
}

.data-group li {
    margin-bottom: 10px;
    display: flex;
    align-items: center; /* Alinha verticalmente os itens */
}

.data-group label {
    display: flex;
    align-items: center; /* Garante que o texto e o checkbox estejam alinhados verticalmente */
    width: 100%;
}

.data-group label input[type="checkbox"] {
    margin-right: 10px; /* Espaçamento entre o checkbox e o texto */
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#credit-usage {
    margin-top: 20px;
    text-align: center;
    color: white; /* Altera a cor do texto para branco */
}
