services:
  db:
    image: postgres:12.2
    restart: on-failure:3
    environment:
      - POSTGRES_DB=db
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=123456
    ports:
      - "5432:5432"
    volumes:
      - db:/var/lib/postgresql/data
      - ./:/docker-entrypoint-initdb.d
volumes:
  db:
    driver: local
